:root {
    --color-light: #edf4f2;
    --color-menu: #e7e793;
    --color-main-dark: #31473a;
    --color-main-dark-shadow: rgb(49, 71, 58, .25);
    --card-background: white;  

    --font-heading: Wittgenstein, Verdana, sans-serif;
    --font-body: Jost, Arial, sans-serif;
}

body {
    /* max-width: 1400px; */
    background-color: var(--color-light);
    font-family: var(--font-body);
    /* margin: 0 auto; */
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main-dark);
    color: var(--color-light);
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-family: var(--font-heading);
}

h1 {
    padding: 0;
    margin: 0;
}

.frame {
    font-family: var(--font-body);
    color: var(--color-main-dark);
    display: block;
    background-color: var(--color-menu);
    padding: 20px;
    margin: 0;
    text-align: center;
}

.frame p {
    padding: 0;
    margin: 0;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
    padding-left: 15px;
}

#menu.show::before {
    content: "X";
}

.menu-links {
    display: none;  
    margin: 0;
    padding: 0;
}

.menu-links.show {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    background-color: var(--color-menu);
}

.menu-links a {
    text-decoration: none;
    padding: 20px;
    color: var(--color-main-dark);
}

.menu-links a:hover {
    color: var(--color-light);
    background-color: var(--color-main-dark);
}

a.active {
    background-color: var(--color-menu);
    filter: brightness(90%);
}

main {
    margin: 0 auto;
    text-align: center;
}

#hero img {
    width: 100%;
    height: auto;
}

#home-content {
    display: grid;
    grid-template-columns: 1fr;
}

.home-card {
    padding: 20px;
    background-color: var(--card-background);
    margin: 20px;
    padding: 10px;
    color: var(--card-main-dark);
    box-shadow: 1px 1px 1em var(--color-main-dark-shadow);
}

.home-card img {
    width:100%;
    height: auto;
}

.weather-grid {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    padding-bottom: 10px;
}

.weather-grid p {
    margin: 0; 
}

.weather-img {
    grid-column: 2/3;
    height: 40px;
}

.weather-temp {
    grid-column: 3/4;
    font-size: 1.5rem;
    place-self: center;
    padding: 0 10px;
}

.weather-details {
    grid-column: 4/5;
    text-transform: capitalize;
    display: block;
    text-align: left;
    align-self: center;
    font-size: .8rem;
}

.weather-feel {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: left;
}

.footer-link {
    display: inline-block;
    padding: 20px;
    font-style: italic;
    color: var(--color-main-dark);
}

.footer-link:visited {
    color: var(--color-main-dark);
}

.footer-link:hover {
    font-weight: bold;
}

