:root {
    --color-light: #edf4f2;
    --color-menu: #e7e793;
    --color-main-dark: #31473a;
    --color-main-dark-shadow: rgb(49, 71, 58, .25);
    --card-background: white;  

    --font-heading: Wittgenstein, Verdana, sans-serif;
    --font-body: Jost, Arial, sans-serif;
}

body {
    /* max-width: 1400px; */
    background-color: var(--color-light);
    font-family: var(--font-body);
    /* margin: 0 auto; */
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-main-dark);
    color: var(--color-light);
    text-align: center;
    margin: 0px;
    padding: 20px;
    font-family: var(--font-heading);
}

h1 {
    padding: 0;
    margin: 0;
}

.frame {
    font-family: var(--font-body);
    color: var(--color-main-dark);
    display: block;
    background-color: var(--color-menu);
    padding: 20px;
    margin: 0;
    text-align: center;
}

.frame p {
    padding: 0;
    margin: 0;
}

#menu::before {
    content: "☰";
    font-size: 2rem;
    padding-left: 15px;
}

#menu.show::before {
    content: "X";
}

.menu-links {
    display: none;  
    margin: 0;
    padding: 0;
}

.menu-links.show {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    background-color: var(--color-menu);
}

.menu-links a {
    text-decoration: none;
    padding: 20px;
    color: var(--color-main-dark);
}

.menu-links a:hover {
    color: var(--color-light);
    background-color: var(--color-main-dark);
}

a.active {
    background-color: var(--color-menu);
    filter: brightness(90%);
}

main {
    margin: 0 auto;
    text-align: center;
}

#intro {
    margin: 10px;
}

#resources-hero {
    width: 100%;
    height: auto;
}

#home-content {
    display: grid;
    grid-template-columns: 1fr;
}

.home-card, .campground-card, .card {
    padding: 20px;
    background-color: var(--card-background);
    margin: 20px;
    padding: 20px;
    color: var(--card-main-dark);
    box-shadow: 1px 1px 1em var(--color-main-dark-shadow);
}

.card-img {
    width:100%;
    height: auto;
}

#content .card-img {
    max-width: 400px;
}
.home-card .card-img:hover {
    box-shadow: 1px 1px 1em var(--color-menu);
}

.weather-grid {
    display: grid;
    grid-template-columns: 1fr auto auto auto 1fr;
    padding-bottom: 10px;
}

.weather-grid p {
    margin: 0; 
}

.weather-img {
    grid-column: 2/3;
    height: 40px;
}

.weather-temp {
    grid-column: 3/4;
    font-size: 1.5rem;
    place-self: center;
    padding: 0 10px;
}

.weather-details {
    grid-column: 4/5;
    text-transform: capitalize;
    display: block;
    text-align: left;
    align-self: center;
    font-size: .8rem;
}

.weather-feel {
    grid-column: 4/5;
    grid-row: 2/3;
    text-align: left;
}

#sidebar #filter-parks {
    margin: 20px;
    text-align: left;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

#sidebar label {
    padding: 10px;
}

#sidebar input[type="radio"] {
    margin-right: 10px;
}

.modal-link {
    text-decoration: underline;
    margin: 0;
}

.modal-link:hover {
    cursor: pointer;
}

#info {
    background-color: var(--card-background);
    padding: 0;
    box-shadow: 1px 1px 1em var(--color-main-dark-shadow);
    position: relative;
}

#info h2 {
    background-color: var(--color-main-dark);
    color: var(--color-light);
    font-family: var(--font-heading);
    padding: 20px 80px;
    margin: 0;
}

#info h3 {
    background-color: var(--color-menu);
    padding: 10px;
    text-align: center;
    margin: 0;
}

::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

#closeModal {
    background: none;
    border: none;
    outline: none;
    margin: 10px;
    position: absolute;
    top: 10px;
    right: 5px;
    cursor: pointer;
    color: var(--color-light);
    font-weight: bold;
    font-family: var(--font-heading);
    font-size: 24px;
}

#info ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 10px 20px;
}

.service-item {
    flex: 1 1 50%;
    padding-bottom: 10px;
    text-align: left;
}

.fee-item {
    flex: 1 1 100%;
    padding-bottom: 10px;
    text-align: left;
}

.join-form {
    display: flex;
    flex-direction: column;
    text-align: left;
    
}

.form-label {
    font-size: 1.1rem;
    margin: 0 auto;
    width: 80%;
}

.join-form .form-input {
    display: block;
    height: 44px;
    box-sizing: border-box;
    margin: 5px 0 10px 0;
    width: 100%;
}

.join-form .form-input:required {
    border-left: 5px solid maroon;
}

.join-form .form-input:valid {
    border-left: 5px solid green;
}

#resources a, #submit-button {
    display: block;
    background-color: var(--color-main-dark);
    padding: 20px;
    margin: 20px auto;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-light);
    font-family: var(--font-heading);
    font-size: 1.2rem;
    width: 60%;
    box-shadow: 5px 5px 5px var(--color-main-dark-shadow);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

#resources a:hover, #submit-button:hover {
    filter:contrast(1.15);
    box-shadow: 5px 5px 5px var(--color-main-dark-shadow);
}

#welcome-container {
    text-align: center;
    width: 100%;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
}

#thanks-img {
    height: auto;
    width: 100%;
    display: block;
}

#welcome-message {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-heading);
    font-style: italic;
    /* font-size: 1.15rem; */
}


.footer-link {
    display: inline-block;
    padding: 20px;
    font-style: italic;
    color: var(--color-main-dark);
}

.footer-link:visited {
    color: var(--color-main-dark);
}

.footer-link:hover {
    font-weight: bold;
}

