@media screen and (min-width: 768px) {
    .top-header {
        display: block;
        text-align: center;
    }

    #menu {
        display: none;
    }

    .menu-links {
        display: flex;
        padding: 0;
    }

    .menu-links a {
        flex: 1 1 auto;
        font-size: 1.25rem;
    }

    #home-content {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #campground-container {
        display: grid;
        grid-template-columns: 200px 1fr;
    }

    #sidebar #filter-parks {
        display: block;
        margin: 20px;
        text-align: left;
        font-size: 1.1rem;
    }

    #sidebar label {
        display: block;
        text-align: left;
        padding: 10px;
    }

    #sidebar input[type="radio"] {
        margin-right: 10px;
    }

    .campground-card {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto;
        gap: 10px;
    }

    .campground-card .card-img {
        grid-column: 1/2;
        grid-row: 1/4;
        padding-right: 20px;
    }

    .campground-card h2 {
        grid-column: 2/3;
        text-align: left;
        margin: 0;
    }

    .campground-card p {
        grid-column: 2/3;
        grid-row: 2/3;
        text-align: left;
        word-break: keep-all;
    }

    .campground-card .modal-link {
        grid-row: 3/4;
        margin-bottom: 10px;

    }
}