@media screen and (min-width: 700px) {
    header {  
        grid-template-columns: auto auto 1fr; 
    }

    #menu {
        display: none;
    }

    .menu-links {
        display: flex;
        justify-content: right;
        grid-column: 3/4;
        background-color: var(--primary-color);
        margin: 20px;
    }

    .menu-links a {
        font-family: var(--font-family-sans);
        font-size: .9rem;
        text-align: right;
        align-self: flex-end;
        padding: 10px 20px;
    }

    .menu-links a:hover {
        border: none;
        font-size: 1rem;
    }
    
    /* MAIN SECTION */

    .hero button {
        position: absolute;
        bottom: 25px;
        right: 25px;
    }
    #directory-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #home-cards {
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap: 20px;
    }

    #home-dir-cards {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .main-heading {
        grid-column: 1/2;
    }

    .dir-layout {
        display: flex;
        justify-content: right;
        grid-column: 2/3;
        align-self: center;
        margin-right: 0;
    }

    .dir-layout label {
        flex: 1;
        text-align: center;
        border: 2px solid var(--secondary-color);
        padding: 5px 20px;
        color: var(--text-color-dark);
        background-color: var(--background-color);
        max-width: 40px;
        cursor: pointer;
    }
    
    .dir-layout input[type="radio"]:checked + label {
        background-color: var(--secondary-color);
        color: var(--text-color);
    }

    #directory-cards {
        grid-column: 1/3;
        margin: 0;
    }

    #directory-cards.dir-list .member-card {
        display: grid;
        grid-template-columns: 1fr .5fr 1fr .5fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem;
    }

    #directory-cards.dir-list .member-card img {
        display: none;
    }

    #directory-cards.dir-list .member-card .card-label {
        display: none;
    }

    #directory-cards.dir-list .member-card h2,
    #directory-cards.dir-list .member-card .level,
    #directory-cards.dir-list .member-card .info {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 0.9rem;
        font-style: normal;
        text-align: left;
    }    

    #directory-cards.dir-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    #form-container {
        width: 600px;
    }

    .radio-button:hover {
        background-color: var(--secondary-color);  
        color: var(--text-color);
    }

    #discover-container {
        grid-template-columns: 1fr 2fr;
    }

    #discover-container .main-heading {
        grid-column: 1/3;
    }

    .sidebar {
        grid-column: 1/2;
    }

    .img-area {
        grid-column: 2/3;
    }

    .discover-img {
        transition: filter 0.3s ease;
    }

    .discover-img:hover {
        transform: scale(1.01);
        /* box-shadow: 10px 10px 10px rgb(0,0,0,.75); */
    }
    
    footer {
        display: flex;
        flex-direction: row;
    }

    footer div {
        flex: 1 1 auto;
    }
}

@media screen and (min-width: 1200px) {

    #home-container, #directory-container, #thanks-container, #discover-container {
        margin: 0px 0px 20px 0px;
    }
}