:root {
    --primary-color: rgb(23, 85, 47);
    --secondary-color: rgb(20, 56, 31);
    --background-color: rgb(237, 243, 232);
    --card-color: rgba(182, 231, 182, 0.493);
    --text-color: rgb(237, 243, 232);
    --text-color-dark: rgb(12, 70, 34);
    --font-family-sans: Montserrat, Arial, sans-serif;
    --font-family-serif: Lora, "Times New Roman", serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--background-color);
    color: var(--text-color-dark);
    font-family: var(--font-family-sans);
}

header {
    font-family: var(--font-family-serif);
    background-color: var(--primary-color);
    color: var(--text-color);
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: 1fr auto;
}

#logo-link {
    grid-column: 1/2;
    margin: 20px;
}

#header-titles {
    grid-column: 2/3;
    align-self: center;
    margin: 0;
}

#header-titles p {
    margin: 0;
    font-size: 1rem;
}

#header-titles h1 {
    margin: 0;
    font-size: 1.75rem;
}

#menu {
    font-size: 1.5rem;
    grid-column: 3/4;
    grid-row: 1/2;
    text-align: right;
    padding: 20px;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

.menu-links {
    display: none;
    grid-column: 1/4;
    background-color: var(--secondary-color);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu-links .active {
    text-decoration: underline;
}

.menu-links.show {
    display: block;
    grid-column: 1/4;
    grid-row: 2/3;
}

.menu-links a {
    display: block;
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    padding: 2rem;
}

.menu-links a:hover {
    border: 1px solid white;
    background-color: var(--primary-color);  
}

/* MAIN SECTION */

main {
    margin: 0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
}

.main-heading {
    font-size: 1.75rem;
    margin-left: 20px;
}

.dir-layout {
    display: none;
    margin-right: 20px;
}

.dir-layout input {
    display: none; 
}

#directory-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.member-card {
    display: block;
    gap: 20px;
    background-color: var(--card-color);
    padding: 20px;
    max-width: 100%;
    word-break: break-all; 
    word-wrap: break-word;
    font-size: 0.9rem;
}

.member-card h2 {
    text-align: center;
    margin: 0;
    font-size: 1.1rem;
}

.member-card .level {
    text-align: center;
    font-style: italic;
    margin: 10px 0 20px 0;
    padding-bottom: 5px;
    font-size: .9rem;
    border-bottom: 1px solid var(--text-color-dark);
}

.member-img {
    float: left;
    width: 7.5vw;
    height: auto;
    max-width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.member-card .info {
    margin: 5px;
}

.member-card a {
    margin: 0;
}

.member-card .card-label {
    font-weight: bold;
    margin-right: 5px;
    font-size: .9rem;
}

footer {
    background-color: var(--primary-color);
    color: var(--text-color);
    display: block;
    font-size: .9rem;
}

footer p {
    margin: 0;
    padding: 2px;
}

.footer-title {
    font-weight: bold;
}

#social {
    text-align: center;
}

#social img {
    padding: 5px 15px;
    max-width: 48px;
}

#contact-info, #social, #copyright-info {
    padding: 20px;
    align-self: center;
    justify-self: left;
}